<!-- BEGIN HEADER -->
<div th:fragment="menu" class="page-header">
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN MEGA MENU -->
			<div class="hor-menu  ">
				<ul class="nav navbar-nav">
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="home"> Home </a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="mypet"> My Pet </a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="schedule"> Schedule </a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="profile"> Profile </a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="contact"> Contact </a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a href="logout"> Logout </a>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->