<!-- BEGIN HEADER -->
<div th:fragment="menu" class="page-header">
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN MEGA MENU -->
			<div class="hor-menu  ">
				<ul class="nav navbar-nav">
					<li class="menu-dropdown classic-menu-dropdown "><a
						href="home"> Home <span class="arrow"></span>
					</a></li>
					<li class="menu-dropdown mega-menu-dropdown"><a href="mypet">
							My Pet <span class="arrow"></span>
					</a></li>
					<li class="menu-dropdown classic-menu-dropdown"><a
						href="schedule"> Schedule <span class="arrow"></span>
					</a></li>
					<li class="menu-dropdown mega-menu-dropdown  mega-menu-full">
						<a href="profile"> Profile <span class="arrow"></span>
					</a>
					</li>
					<li class="menu-dropdown classic-menu-dropdown "><a
						href="contact"> Contact <span class="arrow"></span>
					</a></li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->